.navList {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(170px));
  grid-gap: calc(16px);
  justify-content: center;
}

.navItemLink {
  width: calc(170px);
  padding: calc(10px);
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: calc(10px);
  color: #FF868E;
  font-weight: 500;
  font-size: calc(14px);
  line-height: calc(18px);
  letter-spacing: calc(2px);
}

@media(max-width: 768px) {
  .navList {
    grid-gap: 16px;
    grid-template-columns: repeat(2, 170px);
  }
  .navItemLink {  
    width: 170px;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
  }
}