.votingInner {
  margin-top: calc(80px);
  padding: calc(30px) calc(16px) calc(70px);
  display: flex;
  justify-content: center;
}

.votingSecondary {
  width: calc(1200px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: calc(20px);
}

.votingSecondaryMain {
  border-radius: calc(12px);
  padding: calc(40px) calc(20px);
}

@media(max-width: 768px) {
  .votingSecondary {
    width: 100%;
    gap: 20px;
  }
  .votingSecondaryMain {
    border-radius: 12px;
    padding: 20px 20px 60px;
  }
  .votingInner {
    padding: 70px 0 0 0;
    margin-top: 80px;
  }
}